{% extends "base.html" %}

{% block sidebar %}
    <p>
        <a href=="#">About this Site</a>
    </p>
    <p>
        Use our bookmarklet by dragging this to your bookmarks:
        <br/>
        <a href=="javascript:window.open('http://cmfieldguide.org?url=' + document.location)">Detect CMS</a>
    </p>
{% endblock sidebar %}
        
{% block main %}
    <form method="GET" action=".">
        {{form.url}}
        <input id="test-url" type="submit" value="  Test  ">
    </form>
    {% if site %}
        <div id="result">
            {% ifequal platforms.0.confidence 0%}
            <p><b>Sorry</b>, but this site does not match any of our signatures.</p>

            {% else %}
            <p>Our Best Guess: <b>{{site.platforms.0.platform_name}}</b></p>
            {% endifequal %}
        </div>

        <table>
            <tr>
                <th>Platform</th>
                <th>Website</th>
                <th>Confidence</th>
                <th>Tests</th>
            </tr>
        {% for platform in site.platforms %}
            <tr>
                <td>{{platform.platform_name}}</td>
                <td><a href=="{{platform.platform_website}}">{{platform.platform_website}}</a></td>
                <td>{{platform.confidence}}</td>
                <td>
                    {{platform.explanation}}
                    {% if platform.results %}
                        <ul>
                            {% for result in platform.results %}
                            <li>
                                {{result.description}} <i><small>({{result.name}}: {{result.result}})</small></i>
                            </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock main %}
</div>